.boarde-row,.div1{
   display: flex !important;
   align-items: center;
   justify-content: center;
}
.board-container{
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.btn1{
   
}
h1{
    font-size: 80px !important;
    color:  rgb(44, 43, 43) !important;
}
.square{
}
Button{
    background-color: rgb(62,157,233) !important;
    border: 0 !important;
    color:rgb(255, 255, 255) !important;
}
.xORo{
    font-size: 80px !important;
   margin:10px ;
}
h2{
    color:rgb(47, 47, 47)  !important;
    font-size: 70px !important;
}